body{
  background-color: #F2D3C6;
}


header{
  background-color: #F37948;
  border-bottom: solid 1px #F14E25;
}

header h1{
  font-size: 3em;
  text-align: center;
  color:#FFFFFF;
  padding: .5em 0;
  font-family: "brandon-grotesque", serif;
  text-transform: uppercase;
}

#main {

}

#quiz-area {
  font-size: 1.5em;
  font-family: verdana;
  color: #444444;
  line-height: 1.75em;
}

#quiz-area #question-number {
  text-align: center;
  padding-bottom: 1em;
}

#quiz-box {
  width:50%;
  margin: 1em auto;
  border: solid 5px #FFFFFF;
  padding: 1em;
}

#quiz-box > p {
  font-weight: bold;
}

#quiz-box #submit-button {
  width: 100%;
  font-size: 1em;
  font-family: "brandon-grotesque", serif;
  background-color: #052B3E;
  text-align: center;
  color: #FAEBD7;
  border-bottom: solid 2px #F14E25;
  margin-top: 1em;
  cursor: pointer;
}

#final {
  font-size: 4em;
  text-align: center;
  padding-top: 4em;
  font-family: "brandon-grotesque", serif;
}

.hide{
  display: none;
}

